*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    background-color: black;
}

.section-wrapper {
    padding: 20px 3%;
}

nav {
    display: flex;
    text-align: right;
    color: white;
    justify-content: space-between;    
}
a {
    text-decoration: none;
    color: white;
}
.nav-links {
    display: flex;
}
.nav-links li {
    list-style: none;
    padding: 10px;
}

.cta-link {
    border: solid 2px white;
    border-radius: 6px;
}
.logo::first-letter {
    font-size: 25px;
}
.logo {
    text-shadow: 3px 2px 3px white;
}
a:hover {
    background-color: black;
    color: #F3F3F3;
}
h1 {
    display: flex;
    color: #F3F3F3;

}
p {
    color: whitesmoke;
}
.view-work {
    border: solid 2px white;
    border-radius: 4px;
}
.view-work:hover {
    color: #F3F3F3;
}
.hero-section {
    display: flex;
    height: 60vh;
    align-items: center;
}
.image {
    width: 300px;
    height: 250px;
    border-radius: 6px;
    border: solid 2px black;
}
.featured-cards {
    display: flex;
}

.card {
    width: 250px;
    border: solid 1px gray;
    border-radius: 6px; 
    margin: 5px;
    padding: 10px;
}
.card img {
    width: 100%;
}
.git {
    color: white;
    border: solid 1px white;
    border-radius: 6px;
}
.demo {
     color: white;
    border: solid 1px white;
    border-radius: 6px;
}
.git:hover {
    color: black;
    background-color: white;
}
.demo:hover {
     color: black;
    background-color: white;
}
.about {
    color: white;
}

.link-tree {
    text-decoration: underline;
     
}
.user {
    text-decoration: underline;
     
}
.live-demo {
    text-decoration: underline;
    
}
.connect {
    color: white;
    padding-top: 50px;
}
